.contenedor-dashboard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include adaptar (768px) {
    align-items: flex-start;
    height: auto;
  }

  .contenedor-banner-fecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 2rem;

    .card-banner {
      background-color: #1052A0;
      width: 90vw;
      padding: 1rem;

      @include adaptar(768px) {
        width: 40vw;
        height: 40vh;
      }

      .contenedor--bienvenida {
        @include adaptar(768px) {
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 100%;
        }
      }
    }

    .contenedor-date {
      display: flex;
      justify-content: center;
    }

    .contenedor--date__modificador {
      width: 90vw;

      @include adaptar(768px) {
        width: 30vw;
      }
    }

    @include adaptar(768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 3rem;
    }

    .contenedor--imagen {
      @include adaptar(768px) {
        width: 50%;
        height: 50%;
      }
    }
  }

  .contenedor-requisicones-ingresos{
    display: grid;

    @include adaptar(768px) {
      grid-template-columns: 65% 35%;
      padding-top: 3rem;
    }

    .contenedor-resumen-requisiciones{
      display: flex;
      flex-direction: column;

      .card-resumen{
        display: grid;
        gap: 3rem;
        @include adaptar(768px) {
          grid-template-columns: repeat(2, 1fr);
          padding-bottom: 3rem;

        }
      }
    }

    .card-ingresos{
      padding-left: 3rem;
    }
  }
}

.avatar {
  background-color: $primary;
  font-size: 4rem;
}
.cards-dashboard {
    display: grid;
    gap: 1.5rem;
    @include adaptar(768px) {
       grid-template-columns: repeat( 3,1fr );

    }

    .contenido-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        text-align: center;
      }
      span {
        font-size: 4rem;
      }
      p {
        font-size: 2.5rem;
      }
    }
}

.cards-historial {
  display: grid;
  gap: 1.5rem;
  @include adaptar(768px) {
     grid-template-columns: repeat( 2,1fr );
  }

  .contenido-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
    }
    span {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}

.cards-candidatos {
  display: grid;
  margin-top: 5rem;
  gap: 35rem;
  @include adaptar(768px) {
     grid-template-columns: repeat( 2,1fr );
  }
  .contenido-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
    }
    span {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}
